@model IEnumerable<Test11.v2.Models.Person>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test 11 Version2</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body class="p-1">
    <h3 class="text-center">People</h3>
    <table class="table table-bordered table-striped">
        <thead>
            <tr><td>Name</td><td>NickName</td><td>Sex</td><td>Height</td></tr>
        </thead>
        <tbody>
            @foreach(var p in Model)
            {
                <tr>
                    <td> @p.Name</td>
                    <td> @p.Nickname</td>
                    <td> @p.Sex</td>
                    <td>@p.Height</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" asp-action="AddPerson">
            Add New Person
        </a>
        <a class="btn btn-info" asp-action="SearchPerson">
            Search for a person
        </a>
    </div>
    
</body>
</html>